---
# configuration for the helm chart-testing : <https://github.com/helm/chart-testing>
chart-dirs:
  - charts
# disable check-version-increment cause versioning is being managed by release-please
check-version-increment: false
lint-conf: .github/config/lintconf.yaml
remote: origin
skip-missing-values: true
target-branch: main
upgrade: false
validate-chart-schema: true
# disable validate-maintainers linter
validate-maintainers: false
validate-yaml: true
excluded-charts:
  - meowhq-argocd
# chart-repos:
#   - stable=https://charts.helm.sh/stable
#   - bitnami=https://charts.bitnami.com/bitnami
#   - argo-helm=https://argoproj.github.io/argo-helm
#   - kiali=https://kiali.org/helm-charts 
#   - grafana=https://grafana.github.io/helm-charts
#   - jaegertracing=https://jaegertracing.github.io/helm-charts
#   - hashicorp=https://helm.releases.hashicorp.com
#   - external-secrets=https://charts.external-secrets.io
#   - harbor=https://helm.goharbor.io
#   - jetstack=https://charts.jetstack.io
#   - crossplane-stable=https://charts.crossplane.io/stable
#   - chartmuseum=https://chartmuseum.github.io/charts
